<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-3 col-sm-6">
      <figure class="card card-product-grid">
        <%= link_to product do %>
        <%= image_tag(product.product_image) %>
      <% end %>
        <figcaption class="info-wrap">
          <%= link_to product.title, product, class:"title" %>
          <div class="mt-2">
            <var class="price"> <%= number_to_currency(product.price, :unit => "₹") %> </var>
            
            <%= button_to 'Add to Cart', line_items_path(product_id: product), class: "btn btn-sm btn-outline-primary float-right" %>
          </div> <!-- action-wrap.end -->
        </figcaption>
      </figure> <!-- card // -->
    </div> <!-- col.// -->
  <% end %>
</div>